@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #30343F;
    --secondary-color: #FAFAFF;
    --accent1-color: #273469;
    --accent2-color: #1E2749;

    /* --heading-font: "Montserrat Subrayada", sans-serif; */
    --heading-font: "Roboto", sans-serif;
    --paragraph-font: "Montserrat", sans-serif;

    --nav-background-color: #1E2749;
    --nav-link-color: #FAFAFF;
    --nav-hover-link-color: #E4D9FF;
    --nav-hover-background-color: #273469;

    --shadow: 10px 5px 5px rgba(20, 20, 20, 0.575);
}

body {
    font-family: var(--paragraph-font);
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
}

header {
    padding: 20px;
    background-color: var(--nav-background-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header img {
    width: 100px;
    border-radius: 50%;
    box-shadow: var(--shadow);
}

header nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

header nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

header nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    box-shadow: var(--shadow);
}

/* class selectors */
.hero {
    position: relative;
}

.hero-background {
    display: block;
    object-fit: cover;
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 10%;
    width: 100%;
    padding: 1rem;
    background: #30343FC9;
    text-align: center;
    color: var(--nav-link-color);
}

.hero2 {
    position: relative;
    width: 100%;
    height: 50vh;
}

.hero2-background {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero2 h1 {
    position: absolute;
    top: 10%;
    width: 100%;
    padding: 1rem;
    background: #30343FC9;
    text-align: center;
    color: var(--nav-link-color);
}

.hero2 p {
    padding: 10px;
}

.hero2 article {
    padding: 10px;
    position: absolute;
    top: 45%;
    width: 100%;
    padding: 1rem;
    background: #30343FC9;
    text-align: center;
    color: var(--nav-link-color);
}

.hero article {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    background: #30343FC9;
}

.hero article p {
    padding: 1rem;
    color: var(--nav-link-color);
}

.hero article img {
    width: 200px;
    height: 200px;
    padding: 1rem;
    object-fit: cover;
    border: 1px solid #FAFAFF99;
    float: right;
}

.flex-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    bottom: -35%;
}

.flex-content .hero-containers {
    flex-basis: 30%;
    background-color: var(--nav-hover-link-color);
    text-align: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
}


.history {
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    color: var(--nav-link-color);
}

.history h2 {
    text-align: center;
    color: var(--nav-link-color);
}

.adventure {
    margin: 1rem 0;
}

.adventure h2 {
    text-align: center;
}

.adventure-grid {
    display: grid;
    margin: 10px 0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.adventure-grid img{
    width: 100%;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
  }
  
figcaption {
    background-color: var(--primary-color);
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--nav-background-color);
    color: var(--secondary-color);
}

footer div a {
    color: var(--nav-hover-link-color);
    text-decoration: none;
}

.social-links {
    display: flex;
    gap:10px;
}

.social-links img {
    width: 40px;
}

.contact-block {
    height: 170px;
    background-color: var(--primary-color);
}

.contact {
    padding: 0 1rem;
    background-color: var(--primary-color);
    color: var(--nav-link-color);
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.contact h2, h3 {
    text-align: center;
    padding: 1rem 0;
    color: var(--nav-link-color);
}

.contact aside ul {
    list-style: none;
}

.contact aside ul li{
    list-style: none;
    line-height: 3rem;
    padding: 0 4rem;
}

.contact-links {
    width: 100%;
    padding-left: 4rem;
}

.contact aside a {
    text-decoration: none;
    color: var(--nav-link-color);
    font-size: 30px;
    text-align: center;
    padding-right: 1rem;
    margin: auto;
}

.contact aside {
    flex-basis: 50%;
}

aside iframe {
    width: 100%;
    border: none;
}

.contact-form {
    padding: 2rem 0;
    background-color: var(--nav-hover-link-color);
}

.contact-form h2 {
    text-align: center;
}

form {
    margin: auto;
    padding: 0 3rem;
    display: grid;
}

fieldset {
    display: grid;
    gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: var(--nav-hover-background-color);
    font-size: 1.3rem;
}


.form-flex {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.form-item {
    display: grid;
    flex-basis: 45%;
}

.column-2 {
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

label {
    /* text-align: right; */
    padding: 0.5rem 0;
}

input, textarea, select {
    padding: 0.5rem 0;
    font-size: 1rem;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid var(--nav-hover-background-color);
    background-color: var(--nav-hover-link-color);
}

input, select, textarea:focus {
    outline: none;
}

.newsletter {
    padding: 1rem 0;
}

button {
    margin: auto;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.offices {
    margin: 2rem 0 ;
    width: 100%;
}

.offices h2 {
    text-align: center;
    margin: 2rem 0;
}

.offices-content {
    width: 100%;
    display: flex;
    align-items: center;
}

.offices-content div {
    flex-basis: 50%;
}

.text-box {
    text-align: center;
    padding: 2rem;
}

.text-box h3 {
    color: var(--nav-background-color);
}

.text-box ul li{
    list-style: none;
    line-height:2rem;
}

.offices-content img {
    width: 100%;
}

.employee-body {
    text-align: center;
    padding: 2rem 0;
    background-color: var(--primary-color);
}

.employee-body h2, p {
    color: var(--nav-link-color);
    padding: 0;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: auto;
}
.employee {
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    color: var(--nav-link-color);
}
.employee img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
}
.caption {
    margin-top: 10px;
    font-size: 1.2em;
}