@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat+Subrayada:wght@400;700&family=Rubik+Burned&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #363a3f;
    --secondary-color: #275DAD;
    --accent1-color: #9493B4;
    --accent2-color: #CED3DC;

    --heading-font: "Montserrat Subrayada", sans-serif;
    --paragraph-font: "Montserrat", sans-serif;

    --nav-backgroung-color: #5b616a;
    --nav-link-color: #275DAD;
    --nav-hover-link-color: #9493B4;
    --nav-hover-background-color: #CED3DC;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-backgroung-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}