@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  "Montserrat", sans-serif;
    font-size: 1.2rem;
    color: #333;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: navy;
    text-align: center;
}

span {
    margin: 0.3rem;
    color: navy;
    font-weight: 600;
}

form {
    width: 650px;
    max-width: 0 auto;
    margin: auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

label, input, textarea, button, select {
    font-family: "Roboto", sans-serif;
}

label {
    padding: 1rem 0;
}

input, textarea, select {
    padding: 0.5rem;
    font-size: 1.1rem;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}



footer {
    width: 650px;
    border-top: 1px solid navy;
    margin: auto;
    padding: 5px;
}